TEST_DB_NAME=wptests
TEST_DB_HOST=db
TEST_DB_USER=root
TEST_DB_PASSWORD=root

WP_VERSION=latest
SKIP_DB_CREATE=false

WP_ROOT_FOLDER=/var/www/html
WP_ADMIN_PATH=/wp-admin
DB_NAME=wptests
DB_HOST=db
DB_USER=root
DB_PASSWORD=root
WP_TABLE_PREFIX=wp_
WP_URL=http://wordpress
WP_DOMAIN=wordpress
ADMIN_EMAIL=admin@wp.test
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
