.DS_Store
Thumbs.db
wp-cli.local.yml
node_modules/
*.zip
*.tar.gz
.idea
coverage/
build/
vendor/*
!vendor/composer
!vendor/firebase
!vendor/autoload.php
c3.php
!/tests
/tests/*.suite.yml
/tests/_output
.env
.codeception.yml
composer.lock
